# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment & instance-specific files
.env
instance/

# Testing and tooling
.mypy_cache/
.pytest_cache/

# Local databases
*.sqlite3
*.db
